<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Start your development with a Dashboard for Node.js.">
<title>3TL Dashboard</title>
<!-- Favicon -->
<link href="/images/brand/favicon.png" rel="icon" type="image/png">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<!-- Icons -->
<!--link href="/vendor/nucleo/css/nucleo.css" rel="stylesheet"-->
<link href="/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<link href="/vendor/bootstrap/dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<!-- Argon CSS -->
<link type="text/css" href="/css/argon.min.css?v=1.0.0" rel="stylesheet">
<link type="text/css" href="/css/dark.css?v=1.0.0" rel="stylesheet">
<link type="text/css" href="/css/home.css?v=1.0.0" rel="stylesheet">