
<div class="nav-wrapper">
    <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
        <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-1-tab" data-toggle="donttab" href="/myhome" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="fas fa-landmark fa-fw"></i><%= __('Danh sách nhà') %></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab"
                href="#tabs-icons-floor" role="tab" aria-controls="tabs-icons-text-2"aria-selected="false"><i class="fas fa-list fa-fw"></i><%= __('Danh sách tầng') %></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab"
                href="#tabs-icons-room" role="tab" aria-controls="tabs-icons-text-2"
                aria-selected="false"><i class="fas fa-table fa-fw"></i><%= __('Danh sách phòng') %></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab"
                href="#tabs-icons-gateway" role="tab" aria-controls="tabs-icons-text-3"
                aria-selected="false"><i class="fa fa-microchip" aria-hidden="true"></i><%= __('Danh sách thiết bị') %></a>
        </li>
    </ul>
</div>